/* Add your styles here */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.join-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.group-name {
  font-weight: bold;
  margin-right: 10px;
}
/* Add your styles here */
.details-button {
  background-color: #2ecc71; /* Change the color to your preference */
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Adjust the margin as needed */
}
